html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
	height: 100%;
  margin: 0 auto;
  text-align: left;
}


.upper {
	height: 50%;
	width: 100vw;
	text-align: center;
}

form {
	height: 80%;
}

textarea {
  width: 95%;
  height: 80%;
}

.lower {
	width: 100vw;
	height: 50vh;
	overflow: auto;
}


table, th, td {
  border:1px solid black;
  border-collapse: separate;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: monospace, monospace;
  text-align: left;
}

td {
border:1px solid black;
}

th {
	position: sticky;
	top: 0;
	border:2px solid black;
	background-color: rgb(203, 203, 203);
}